<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Menu}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/them-san-pham.css"/>
    <title>Thêm Sản Phẩm</title>

</head>
<body>
<main layout:fragment="main1">
    <script src="/js/san-pham.js"></script>
    <div class="container">
        <h1>THÊM SẢN PHẨM</h1>
        <div class="form-group">
            <label for="product-name">* Tên sản phẩm :</label>
            <input type="text" id="product-name" value="Nhập tên sản phẩm">
        </div>
        <div class="form-group">
            <label for="description">* Mô tả :</label>
            <textarea id="description" placeholder="Nhập mô tả sản phẩm"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="brand">* Thương hiệu :</label>
                <select id="brand">
                    <option value="" disabled selected hidden>Chọn thương hiệu</option>
                    <option>Thương hiệu 1</option>
                    <option>Thương hiệu 2</option>
                </select>
                <button class="plus-button" onclick="openModal('brandModal')"><i class="fas fa-plus"></i></button>
            </div>
            <div class="form-group">
                <label for="status">* Trạng thái :</label>
                <select id="status">
                    <option value="" disabled selected hidden>Chọn Trạng Thái</option>
                    <option>Kinh Doanh</option>
                    <option>Ngừng Kinh Doanh</option>
                </select>
                <button class="plus-button" onclick="openModal('statusModal')"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="material">* Chất Liệu :</label>
                <select id="material">
                    <option value="" disabled selected hidden>Chọn chất liệu</option>
                    <option>Chất liệu 1</option>
                    <option>Chất liệu 2</option>
                </select>
                <button class="plus-button" onclick="openModal('materialModal')"><i class="fas fa-plus"></i></button>
            </div>
            <div class="form-group">
                <label for="sole">* Đế Giày :</label>
                <select id="sole">
                    <option value="" disabled selected hidden>Chọn đế giày</option>
                    <option>Đế giày 1</option>
                    <option>Đế giày 2</option>
                </select>
                <button class="plus-button" onclick="openModal('soleModal')"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="gender">* Giới Tính :</label>
                <select id="gender">
                    <option value="" disabled selected hidden>Chọn giới tính</option>
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
                <button class="plus-button" onclick="openModal('genderModal')"><i class="fas fa-plus"></i></button>
            </div>
            <div class="form-group">
                <label for="category">* Thể loại :</label>
                <select id="category">
                    <option value="" disabled selected hidden>Chọn thể loại</option>
                    <option>Thể loại 1</option>
                    <option>Thể loại 2</option>
                </select>
                <button class="plus-button" onclick="openModal('categoryModal')"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>KÍCH CỠ VÀ MÀU SẮC</h1>
        <div class="form-group">
            <h5>Kích Cỡ:</h5>
            <button class="plus-button"><i class="fas fa-plus"></i></button>
        </div>
        <div class="form-group">
            <h5>Màu Sắc:</h5>
            <button class="plus-button"><i class="fas fa-plus"></i></button>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h1>Chi tiết sản phẩm</h1>
            <div>
                <button>Chỉnh sửa số lượng và giá chung</button>
                <button>Hoàn Tất</button>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th><input type="checkbox" id="selectAll"></th>
                <th>STT</th>
                <th>Tên Sản Phẩm</th>
                <th>Số lượng</th>
                <th>Giá Bán</th>
                <th>Hành động</th>
                <th>Upload Ảnh</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox" class="selectItem"></td>
                <td>1</td>
                <td>KAPPA GIÀY SNEAKERS 123 [ 36 - maroon ]</td>
                <td><input type="number" value="1" style="width: 50px;"></td>
                <td>1.000.000 VND</td>
                <td class="action-buttons"><i class="fas fa-trash-alt"></i></td>
                <td>
                    <div class="upload-button" onclick="triggerFileInput(this)">
                        <i class="fas fa-plus"></i> Upload
                    </div>
                    <input type="file" class="fileInput" style="display:none;" multiple
                           onchange="handleFileSelect(this)">
                    <div class="uploaded-images"></div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" class="selectItem"></td>
                <td>2</td>
                <td>KAPPA GIÀY SNEAKERS 123 [ 37 - maroon ]</td>
                <td><input type="number" value="1" style="width: 50px;"></td>
                <td>1.000.000 VND</td>
                <td class="action-buttons"><i class="fas fa-trash-alt"></i></td>
                <td>
                    <div class="upload-button" onclick="triggerFileInput(this)">
                        <i class="fas fa-plus"></i> Upload
                    </div>
                    <input type="file" class="fileInput" style="display:none;" multiple
                           onchange="handleFileSelect(this)">
                    <div class="uploaded-images"></div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" class="selectItem"></td>
                <td>3</td>
                <td>KAPPA GIÀY SNEAKERS 123 [ 36 - black ]</td>
                <td><input type="number" value="1" style="width: 50px;"></td>
                <td>1.000.000 VND</td>
                <td class="action-buttons"><i class="fas fa-trash-alt"></i></td>
                <td>
                    <div class="upload-button" onclick="triggerFileInput(this)">
                        <i class="fas fa-plus"></i> Upload
                    </div>
                    <input type="file" class="fileInput" style="display:none;" multiple
                           onchange="handleFileSelect(this)">
                    <div class="uploaded-images"></div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" class="selectItem"></td>
                <td>4</td>
                <td>KAPPA GIÀY SNEAKERS 123 [ 37 - black ]</td>
                <td><input type="number" value="1" style="width: 50px;"></td>
                <td>1.000.000 VND</td>
                <td class="action-buttons"><i class="fas fa-trash-alt"></i></td>
                <td>
                    <div class="upload-button" onclick="triggerFileInput(this)">
                        <i class="fas fa-plus"></i> Upload
                    </div>
                    <input type="file" class="fileInput" style="display:none;" multiple
                           onchange="handleFileSelect(this)">
                    <div class="uploaded-images"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <button>1</button>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="img01">
    </div>
    <!-- Modals -->
    <div id="brandModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('brandModal')">&times;</span>
            <h2>Thêm Thương Hiệu</h2>
            <input type="text" placeholder="Nhập thương hiệu mới">
            <div class="buttons">
                <button class="cancel-button" onclick="closeModal('brandModal')">Hủy</button>
                <button class="add-button">Thêm</button>
            </div>
        </div>
    </div>

    <div id="statusModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('statusModal')">&times;</span>
            <h2>Thêm Trạng Thái</h2>
            <input type="text" placeholder="Nhập trạng thái mới">
            <div class="buttons">
                <button class="cancel-button" onclick="closeModal('statusModal')">Hủy</button>
                <button class="add-button">Thêm</button>
            </div>
        </div>
    </div>

    <div id="materialModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('materialModal')">&times;</span>
            <h2>Thêm Chất Liệu</h2>
            <div class="form-group">
                <label for="new-brand">Thương hiệu:</label>
                <input type="text" id="new-brand" placeholder="Nhập thương hiệu mới">
            </div>
            <div class="form-group">
                <label for="new-status">Trạng thái:</label>
                <input type="text" id="new-status" placeholder="Nhập trạng thái mới">
            </div>
            <div class="buttons">
                <button class="cancel-button" onclick="closeModal('materialModal')">Hủy</button>
                <button class="add-button">Thêm</button>
            </div>
        </div>
    </div>

    <div id="soleModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('soleModal')">&times;</span>
            <h2>Thêm Đế Giày</h2>
            <input type="text" placeholder="Nhập đế giày mới">
            <div class="buttons">
                <button class="cancel-button" onclick="closeModal('soleModal')">Hủy</button>
                <button class="add-button">Thêm</button>
            </div>
        </div>
    </div>

    <div id="genderModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('genderModal')">&times;</span>
            <h2>Thêm Giới Tính</h2>
            <input type="text" placeholder="Nhập giới tính mới">
            <div class="buttons">
                <button class="cancel-button" onclick="closeModal('genderModal')">Hủy</button>
                <button class="add-button">Thêm</button>
            </div>
        </div>
    </div>

    <div id="categoryModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('categoryModal')">&times;</span>
            <h2>Thêm Thể Loại</h2>
            <input type="text" placeholder="Nhập thể loại mới">
            <div class="buttons">
                <button class="cancel-button" onclick="closeModal('categoryModal')">Hủy</button>
                <button class="add-button">Thêm</button>
            </div>
        </div>
    </div>
</main>

</body>
</html>