* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.cart-empty {
    text-align: center;
    padding: 50px 0;
}

.coupon-input {
    margin-top: 15px;
}

.btn-apply-coupon {
    margin-top: 5px;
}

.txt {
    background-color: #00CCFF;
    font-weight: bold;
    padding-left: 10px;
    color: white;
    border-radius: 5px;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}
.card:hover {
    background-color: #f8f9fa; /* Màu nền mới */
    transform: scale(1.02); /* Hiệu ứng phóng to */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bóng đổ */
    transition: all 0.3s ease; /* Hiệu ứng chuyển động */

}
p{
    color: black;
}

h5{
    color: black;
}
h4{
    color: black;
}