* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    /*padding: 20px;*/
}

.container {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter-section input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
}

.filter-section button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.create-button {
    background-color: #ff5733;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #ff5733;
    color: white;
}

thead th {
    padding: 15px;
    text-align: left;
}

tbody td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.active-status {
    color: green;
    font-weight: bold;
}
