
.filter-container {
    margin: 20px 0;
}

.status-text {
    font-weight: bold;
}

.status-text.cho-xac-nhan {
    color: orange;
}

.status-text.chuan-bi-hang {
    color: red;
}

.status-text.huy {
    color: gray;
}

.status-text.thanh-cong {
    color: green;
}