


.container {
    width: 100%;        /* Chiếm 100% không gian màn hình */
    margin: 0 auto;     /* Căn giữa trang */
    padding: 0 10px;    /* Giữ khoảng cách 10px từ hai bên để nội dung không sát mép */
    max-width: none;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter-section input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
}

.filter-section button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.create-button {
    background-color: #ff5733;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #000000;
    color: white;
}

thead th {
    padding: 15px;
    text-align: left;
}

tbody td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.active-status {
    color: green;
    font-weight: bold;
}
.pagination {
    display: flex;
    justify-content: center; /* Căn giữa phần tử */
    align-items: center;     /* Căn giữa theo chiều dọc nếu cần */
    margin-top: 20px;        /* Khoảng cách phía trên nếu muốn */
}
.txt{
    font-weight: bold;
    padding-left: 10px;
    color: black;
    border-radius: 5px;
    margin-bottom: 20px;
}


.container {
    width: 100%;        /* Chiếm 100% không gian màn hình */
    margin: 0 auto;     /* Căn giữa trang */
    padding: 0 10px;    /* Giữ khoảng cách 10px từ hai bên để nội dung không sát mép */
    max-width: none;
    margin-top: 20px;
}
form{
    padding-top: 20px;
}

.form-label {
    font-weight: bold;
}
.image-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
}
.image-upload input {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.image-upload img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.btn-scan-qr {
    background-color: #ff5722; /* Màu cam */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 1100px;
}

.btn-scan-qr:hover {
    background-color: #e64a19; /* Màu cam đậm khi hover */
}
#qr-reader {
    width: 100%;
}

