body {
    background-color: #f5f5f5;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
.header i {
    margin-right: 10px;
}
.filter-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
}
.filter-buttons {
    position: absolute;
    right: 100px;
    bottom: 40px;

}
.table-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table th {
    background-color: #00CCFF;
    color: #fff;
}
.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
}
.status.active {
    background-color: #28a745;
}
.status.inactive {
    background-color: #bf3737; /* Màu cho trạng thái "Hết hàng" */
}
.actions i {
    margin-right: 10px;
    cursor: pointer;
    color: #007bff;
}

.add-btn {
    float: right;
    margin-top: 10px;
}
.actions i {
    color: #007bff;
    cursor: pointer;
    margin-right: 10px;
}
.actions i:hover {
    color: #0056b3;
}