<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{Menu}"-->
<!--&gt;-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Trả hàng</title>-->
<!--    <link rel="stylesheet" href="/css/DoiTra.css">-->
<!--</head>-->
<!--<body>-->
<!--<main layout:fragment="main1">-->
<!--<div class="container">-->
<!--    <div class="header">-->
<!--        <img src="/images/th.jpeg" alt="Trả hàng" class="icon">-->
<!--        <h1>Trả hàng</h1>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="maHoaDon">* Mã hóa đơn: <input type="text" id="maHoaDon" name="maHoaDon" ></label>-->
<!--        <a th:href="@{/doitra/detail}"><button type="button" class="btn-tim">Tìm kiếm</button></a>-->
<!--        <button type="button" class="btn-qrcode">QR Code</button>-->
<!--    </div>-->
<!--    <div class="image-container">-->
<!--        <img src="/images/OIP.jpeg" alt="Returns Policy" class="returns-image">-->
<!--        <h2>Returns Policy</h2>-->
<!--    </div>-->
<!--</div>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->

