<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/side-bar.css"/>
    <title>Sport Shop V2</title>
</head>
<body>
<div class="wrapper">
    <aside id="sidebar">
        <div class="d-flex">
            <button id="toggle-btn" type="button" >
                <i class="lni lni-grid-alt" >

                    
                </i>
            </button>
            <div class="sidebar-logo">
                <a href="#">Sport Shop V2</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a th:href="@{/b}" class="sidebar-link">
                    <i class="lni lni-user"></i>
                    <span>Khach hang</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="sidebar-link">
                    <i class="lni lni-user"></i>
                    <span>Task</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="lni lni-protection"></i>
                    <span>Sản Phẩm</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link">Sản Phẩm</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link">Màu Sắc</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link">Chất Liệu</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                    <i class="lni lni-layout"></i>
                    <span>Multi Level</span>
                </a>
                <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link  collapsed" data-bs-toggle="collapse" data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                            <span>Two Link</span>
                        </a>
                        <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item" >
                                <a href="" class="sidebar-link">Link1</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="" class="sidebar-link">Link2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="" class="sidebar-link">
                    <i class="lni lni-popup"></i>
                    <span>Notification</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="sidebar-link">
                    <i class="lni lni-cog"></i>
                    <span>Setting</span>
                </a>
            </li>
        </ul>

        <div class="sidebar-footer">
            <a href="" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
    </aside>
    <div class="main">
        <nav class="navbar navbar-expand px-4 py3">
            <form action="#" class="d-none d-sm-inline-block">
                <div class="input-group input-group-navbar">
                    <input type="text" class="form-control border-0 rounded-0" placeholder="Search..." />
                    <button class="btn border-0 rounded-0" type="button">
                        Search
                    </button>
                </div>
            </form>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="" class="nav-icon pe-md-0" data-bs-toggle="dropdown">
<!--                            <img src="/images/account.png" alt="" class="avatar img-fluid">-->
                        </a>
                        <div class="dropdown-menu dropdown-menu-end rounded">
                            <a href="" class="dropdown-item">
                                <i class="lni lni-timer"></i>
                                <span>Analytics</span>
                            </a>
                            <a href="" class="dropdown-item">
                                <i class="lni lni-cog"></i>
                                <span>Setting</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            a href="" class="dropdown-item">
                            <i class="lni lni-question-circle"></i>
                            <span>Setting</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <main layout:fragment="main1" class="content px-3 py-4" >

        </main>
        <footer class="footer">

        </footer>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</body>
</html>